<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {
            title:"Клуб Мастеров",
            style:[
                {
                    name: css.valentine,
                }
            ],
        }  %}
    </head>
    <body class="cms-page-view">
            {% include "../block/page/valentine.twig" with {
               content: [
                    {
                        view:   'banner',
                        prefix: [prefix.valentine,"-banner"].join(""),
                        img:    'banner',
                        title:  'Поделитесь чувствами!',
                        note:   'Подборка товаров Philips, перед которыми никто не&nbsp;устоит',
                    },
                    {
                        view:   'card',
                        prefix: [prefix.valentine,"-card"].join(""),
                        btn:    'Смотреть все товары категории',
                        filter: [
                            {
                                id:     'cat1',
                                name:   'Лидеры продаж',
                            },
                            {
                                id:     'cat2',
                                name:   'Техника для дома',
                            },
                            {
                                id:     'cat3',
                                name:   'Техника для кухни',
                            },
                            {
                                id:     'cat4',
                                name:   'Персональный уход',
                            },
                        ],
                        sku: [
                            {
                                id: 'for-woman',
                                name: 'Для нее',
                                card:[
                                    {
                                        id: 'cat1',
                                        name:   'Лидеры продаж',
                                        sku: 'HPS920/00,HPS930/00,HX9911/29,HR3573/90,AC2729/51,FC9733/01,GC800/80',
                                    },
                                    {
                                        id: 'cat2',
                                        name:   'Техника для дома',
                                        sku: 'AC2729/51,FC9733/01,GC800/80,AC3829/10,FC6404/01,FC6405/01,FC6718/01,FC6721/01,FC6722/01,FC6726/01,FC6728/01,FC8586/01,FC8780/08,FC9170/02,FC9331/09,FC9351/01,FC9728/01,FC9732/01,GC350/40,GC351/20,GC363/30,GC3925/30,GC4535/20,GC4537/70,GC4558/20,GC5034/20,GC552/40,GC627/60,GC6842/30,GC7920/20,GC8735/80,HI5919/30,HU4802/01,PSG7014/10,PSG8050/30,PSG8130/80,PSG8140/80,PSG8160/30,XB2042/01,XB2122/08,XB2123/08,XC7043/01',
                                    },
                                    {
                                        id: 'cat3',
                                        name:   'Техника для кухни',
                                        sku: 'EP1220/00,EP1223/00,EP1224/00,EP2021/40,EP2030/10,EP2035/40,EP3146/90,EP3241/50,EP3246/70,HR3573/90,HR2052/00,HR1855/70,HR1919/70,HR1922/21,HR2102/00,HR2228/90,HR2534/00,HR2538/00,HR2543/00,HR2602/00,HR2621/90,HR2655/90,HR2657/90,HR3571/90,HR3652/00,HR3655/00,HR3745/00,HR3752/00,HR3756/00',
                                    },
                                    {
                                        id: 'cat4',
                                        name:   'Персональный уход',
                                        sku: 'HP8656/00, BRL140/00, BRE735/00, BRE700/00, BRE225/00, HPS920/00, BRE224/00, BRE235/00, BRP505/00, BRE255/00, BRE715/00, BRE730/10, HPS930/00, BHD308/10, HPS910/10, BRE285/00, BHD360/20, BHD500/00, BHB868/00, BHS378/00, BHD272/00, BHD510/00, BRP529/00, BHD504/00, BHP398/00, BHD017/40, BHD340/10, BHS375/00, BRE245/00, HP8661/00, BHD530/00, BHD300/10, BHB864/00, BHD341/10, BHD501/00, BHS377/00, BHB862/00, BHH880/00, HF3521/70, HF3650/70, SCD831/52, SCD502/52, SCD711/52, HX9044/17, HX9004/10, HX6064/11, HX9042/17, HX9992/11, HX6052/07, HX6042/33, HX9052/33, HX6018/07, HX6014/07, HX9052/17, HX6064/12, HX9092/10, HX6068/13, HX6032/33, HX8012/07, HX9022/10, HX9044/33, HX6034/33, HX6012/07, HX9002/10, HX6068/12, HX9913/17, HX9917/88, HX6044/33, HX9911/29, HX3671/14, HX3675/15, HX3651/11, HX9917/89, HX6907/01, HX3711/20, HX3673/13, HX3806/31, HX6836/24, HX3673/14, HX3911/40, HX3673/11, HX9911/94, HX3651/12, HX6851/34, HX6871/47, HX9914/57',
                                    },
                                ],
                            },
                            {
                                id: 'for-men',
                                name: 'Для него',
                                hide: 'hide',
                                card:[
                                    {
                                        id: 'cat1',
                                        name:   'Лидеры продаж',
                                        sku: 'AC2729/51,FC9733/01,GC800/80,HR3573/90,QP2520/65,HX9917/89,S9985/50',
                                    },
                                    {
                                        id: 'cat2',
                                        name:   'Техника для дома',
                                        sku: 'AC2729/51,FC9733/01,GC800/80,AC3829/10,FC6404/01,FC6405/01,FC6718/01,FC6721/01,FC6722/01,FC6726/01,FC6728/01,FC8586/01,FC8780/08,FC9170/02,FC9331/09,FC9351/01,FC9728/01,FC9732/01,GC350/40,GC351/20,GC363/30,GC3925/30,GC4535/20,GC4537/70,GC4558/20,GC5034/20,GC552/40,GC627/60,GC6842/30,GC7920/20,GC8735/80,HI5919/30,HU4802/01,PSG7014/10,PSG8050/30,PSG8130/80,PSG8140/80,PSG8160/30,XB2042/01,XB2122/08,XB2123/08,XC7043/01',
                                    },
                                    {
                                        id: 'cat3',
                                        name:   'Техника для кухни',
                                        sku: 'HR3573/90,HR2052/00,HR2102/00,HR2228/90,HR2602/00,HR3571/90,HR3652/00,HR3655/00,HR3752/00,HR3756/00',
                                    },
                                    {
                                        id: 'cat4',
                                        name:   'Персональный уход',
                                        sku: 'QP2510/11,QP2520/20,QP610/50,QP210/50,QP2520/60,QP620/50,QP2520/65,S5584/50,S5585/35,S5583/10,S3134/51,S1133/41,S1232/41,MG9710/90,BT5515/15,BT5522/15,BT9810/15,HC9450/20,HC5632/15,MG5720/15,HC3535/15,HC3530/15,MG7720/15,HC5610/15,HC3505/15,QC5130/15,BT3222/14,BT1216/10,MG3740/15,HC1091/15,QC5115/15,BT3206/14,BG3015/15,HC5612/15,MG1100/16,MG3731/15,HC5650/15,HC5630/15,HC3521/15,NT1620/15,SH91/50,RQ11/50,SH71/50,SH98/70,JC302/50,TT2000/43,SH50/50,RQ32/20,PQ206/18,QP230/50,HX9913/17,HX9917/89,HX9911/94,HX3673/14,HX3671/14,HX3673/13,HX6851/34,HX3651/12,HX3675/15,HX6871/47,HX9917/88,HX9044/17,HX9042/33,HX9004/10,HX6064/11,HX9042/17,HX6052/07,HX6042/33,HX9052/33,HX6018/07,HX6014/07,HX9052/17,HX9092/10,HX6068/13,HX6032/33,HX9022/10,HX3806/31,HX3711/20,HX3911/40,HX8012/07,HX6907/01,DIS363/11,HX6064/12,HF3521/70,HF3650/70,S9985/50,QP6650/61',
                                    },
                                ],
                            },
                        ],
                    },
                ],
            } %}

    {% include "../block/common/script/script.twig" with {
        js:[
            {
                name: js.valentine,
            }
        ],
    }
    %}
    </body>
</html>