<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {
            title:"P-9082 :: Молокоотсос Philips AVENT",
            style:[
                {
                    name: css.molokootsosy,
                }
            ],
        }  %}
    </head>
    <body class="cms-page-view">
        {% include "../block/page/content.twig" with {
            path_img:   img.molokootsosy,
            mod:        '',
            content: [
                {
                    view:       'banner_widget',
                    prefix:     prefix.banner_widget,
                    title_tag:  'h1',
                    title:      'Электронный молокоотсос Philips&nbsp;AVENT',
                    text:       'Естественное и&nbsp;бережное сцеживание, с&nbsp;заботой о&nbsp;маме и&nbsp;малыше.',
                    img:        'main-banner.jpg',
                    img_xs:     'main-banner-320.jpg',
                    img_md:     'main-banner-768.jpg',
                    img_path:   img.molokootsosy,
                    widget:     'type="aristos_widgets/widget_banners" placeholder_id="26" group_id="1" text="<h1>Электронный молокоотсос Philips&nbsp;AVENT</h1><p>Естественное и&nbsp;бережное сцеживание&#specialComma; с&nbsp;заботой о&nbsp;маме и&nbsp;малыше.</p>" text_position="center-left" text_color="#fff" uniq_value="piGw2" replace_comma="1" file_upload="1" source="/media/banner/1662_piGw2_widget_banners_source_1.jpg" source_tablet="/media/banner/1662_piGw2_widget_banners_source_tablet_1.jpg" source_phone="/media/banner/1662_piGw2_widget_banners_source_phone_1.jpg"',
                },
                {
                    view:       'product_extended',
                    prefix:     prefix.extended,
                    mod:        ['  ',prefix.extended,'_full'].join(''),
                    title_tag:  'h1',
                    title:      'Электронный молокоотсос Premium Plus SCF392/11',
                    text:       "<ul><li class='item1'>Технология Natural motion. Kомбинирует процессы стимуляции соска и сосания, как это делает малыш, для естественного и бережного сцеживания</li><li class='item2'>Комфортное сцеживание без необходимости наклоняться вперед благодаря особой конструкции</li><li  class='item3'>Тихий мотор для незаметного использования в любом месте</li><li  class='item4'>Функция памяти позволяет сохранить наиболее комфортные настройки.</li><li class='item5'>Легко мыть и собирать</li><li class='item6' data-after='*Диаметром до 30 мм'>Насадка адаптируется к 99,98% сосков разной формы и размеров*</li></ul>",
                    img:        'product-extended.jpg',
                    img_xs:     'product-extended-320.jpg',
                    img_md:     'product-extended-768.jpg',
                    img_path:   img.molokootsosy,
                    widget:     'type="aristos_widgets/widget_productCardExtended" uniq_value="UE3AA" sku_products="SCF330/20" page_size="60" sources="/media/cms_widgets/1662_UE3AA_widget_productCardExtended_sources.jpg" sources_tablet="/media/cms_widgets/1662_UE3AA_widget_productCardExtended_sources_tablet.jpg" sources_mobile="/media/cms_widgets/1662_UE3AA_widget_productCardExtended_sources_mobile.jpg" file_upload="1" content_position="left-center" text="<ul><li class=item1>Технология Natural motion. Kомбинирует процессы стимуляции соска и сосания, как это делает малыш, для естественного и бережного сцеживания</li><li class=item2>Комфортное сцеживание без необходимости наклоняться вперед благодаря особой конструкции</li><li  class=item3>Тихий мотор для незаметного использования в любом месте</li><li  class=item4>Функция памяти позволяет сохранить наиболее комфортные настройки.</li><li class=item5>Легко мыть и собирать</li><li class=item6 data-after=*Диаметром до 30 мм>Насадка адаптируется к 99,98% сосков разной формы и размеров*</li></ul>"',
                },
                {
                    view:       'tech_cols',
                    prefix:     prefix.tech,
                    title_tag:  'h2',
                    title:      'Технология Natural Motion',
                    text:       ['<div class="item1"><img src="',path.img,img.molokootsosy,'/tech-item1.png" alt="" /></div><div><h3>Естественное, бережное и более эффективное сцеживание</h3><p class="text">Благодаря технологии Natural Motion новые молокоотсосы Philips Avent комбинируют процесс стимуляции соска и&nbsp;сосания, точно так&nbsp;же, как это делает малыш.<br> Сцеживайтесь на&nbsp;20% быстрее* и&nbsp;эффективнее.<br> Доказано клиническими испытаниями.</p><p class="item2"><img src="',path.img,img.molokootsosy,'/tech-item2.jpg" alt="" /></p></div>'].join(''),
                    img_path:   img.molokootsosy,
                    video:      'https://youtu.be/jLNRaFube6I',
                    video_img:  'tech-video.jpg',
                    footnote:   '*На основании сравнения результатов 2-х клинических испытаний, в которых измерялось время до начала выделения молока (MER-рефлюкс выброса молока): 1. 20 участниц и 80 сеансов сцеживаний молокоотсосом Eureka (Нидерланды, 2019г.) 2. 9 участниц и сцеживание с использованием предыдущей версии молокоотсоса Philips Avent SCF334 (Нидерланды 2018 г.)',
                },
                {
                    view:       'tech_cols',
                    prefix:     'nozzle',
                    text:       '<h3>Новая насадка адаптируется к разным по форме и размеру соскам</h3><p>Мягкая цельносиликоновая насадка адаптируется почти под любой размер сосков - подходит по размеру 99,98% сосков*</p><p class="footnote">*Диаметром до 30 мм</p>',
                    img_path:   img.molokootsosy,
                    img_list:   [
                        {
                            mod:    '  item1',
                            img:    'nozzle-item1.png'
                        },
                        {
                            mod:    '  item2',
                            img:    'nozzle-item2.png'
                        },
                    ],
                },
                {
                    view:       'compare',
                    prefix:     prefix.compare,
                    title_tag:  'h2',
                    title:      'Сравнение моделей молокоотсосов',
                    img_path:   img.molokootsosy,
                    list:   [
                        {
                            mod:   '  table--head',
                            list:   [
                                {
                                },
                                {
                                    img:    'compare-item1.jpg',
                                    title:   '<span>Одинарный молокоотсос</span> SCF391/11',
                                },
                                {
                                    img:    'compare-item2.jpg',
                                    title:   '<span>Одинарный молокоотсос с аккумуляторной батареей</span> SCF392/11',
                                },
                            ],
                        },
                        {
                            list:   [
                                {
                                    label: 'Технология Natural motion
с  мягкой и адаптируемой к размеру и форме  сосков насадкой',
                                },
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {
                                    label: 'Особая конструкция, не&nbsp;требующая наклона вперед',
                                },
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {
                                    label: '8+16 настроек',
                                },
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {
                                    label: 'Функция памяти',
                                },
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {label: 'Pause/Play',},
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {label: 'USB',},
                                {check:  'true',},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {label: 'Таймер/дисплей',},
                                {},
                                {check:  'true',},
                            ],
                        },
                        {
                            list:   [
                                {label: 'Аккумуляторная батарея',},
                                {},
                                {check:  'true',},
                            ],
                        },
                        {
                            mod:   '  table--footer',
                            list:   [
                                {},
                                {
                                    sku:        'SCF330/20',
                                    btn:        'true',
                                    more:       'type="catalog/product_widget_link" anchor_text="Подробнее" template="catalog/product/widget/link/link_inline.phtml" id_path="product/4142"',
                                    price:      '00 000 ',
                                    price_old:  '00 000 ',
                                },
                                {
                                    sku:        'SCF330/40',
                                    btn:        'true',
                                    more:       'type="catalog/product_widget_link" anchor_text="Подробнее" template="catalog/product/widget/link/link_inline.phtml" id_path="product/12259"',
                                    price:      '00 000 ',
                                    price_old:  '00 000 ',
                                },
                            ],
                        },
                    ],
                },
                {
                    view:       'reviews_widget',
                    prefix:     prefix.reviews,
                    title_tag:  'h2',
                    bg_color:   '#FDF2FB',
                    title:      'Отзывы о электронном молокоотсосе SCF392/11',
                    img_path:   img.molokootsosy,
                    widget:     'type="aristos_widgets/widget_productReviews" page_size="60" sku_products="SCF330/20" reviews_quantity="2" background_color="#FDF2FB"',
                    list:       [
                        {
                            user:   'Оксана',
                            date:   '26.05.2020',
                            text:   'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. ',
                            recommend:    'Оксана рекомендует этот продукт',
                        },
                        {
                            user:   'Людмила',
                            date:   '26.05.2020',
                            text:   'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
                            recommend:    'Оксана рекомендует этот продукт',
                        },
                    ],
                },
                {
                    view:       'products',
                    prefix:     prefix.limited,
                    title:      'Вам также могут пригодиться',
                    list:       [
                        {
                            title:  'Бутылочки',
                            img:    'limited-item1',
                            link:   '/dlya-materi-i-rebenka-1/kormlenie-iz-butylochki/butylochki.html',
                        },
                        {
                            title:  'Соски',
                            img:    'limited-item2',
                            link:   '/dlya-materi-i-rebenka-1/kormlenie-iz-butylochki/soski.html',
                        },
                        {
                            title:  'Пустышки',
                            img:    'limited-item3',
                            link:   '/pustyshki.html',
                        },
                        {
                            title:  'Аксессуары',
                            img:    'limited-item4',
                            link:   '/dlya-materi-i-rebenka-1/aksessuary.html',
                        },
                    ]
                },
                {
                    view:       'footnotes',
                    prefix:     prefix.footnotes,
                    text:      '<p>*По&nbsp;результатам исследования «Baby Index−2020» компании ООО «Ипсос Комкон» в&nbsp;категориях молокоотсосов и&nbsp;приспособлений для кормления </p>
<p> **По&nbsp;результатам исследования «MEDI-Q-2020» компании ООО «Ипсос Комкон» в&nbsp;категориях молокоотсосов и&nbsp;приспособлений для кормления</p>',
                },
            ],
        } %}




        {% include "../block/common/script/script.twig" with {
            js:[
                {name: js.molokootsosy}
            ],
        }
    %}
    </body>
</html>