<!DOCTYPE html>
<html dir="ltr" lang="ru-RU"> 
    <head>
        {% include "../block/common/head/head.twig" with {
            title:"P-9068 :: Бойлеры",
            style:[
                {
                    name: css.vodonagrevateli,
                }
            ],
        }  %}
    </head>
    <body class="cms-page-view">
        {% include "../block/page/content.twig" with {
            path_img:   img.vodonagrevateli,
            mod:        '',
            content: [
                {
                    view:       'banner',
                    prefix:     prefix.banner,
                    title_tag:  'h1',
                    title:      'Накопительные водонагреватели PHILIPS UltraHeat',
                    text:       'Лучшее из возможного',
                    img:        'main-banner',
                    img_xs:     '700px',
                    img_md:     '1399px',
                    img_pos:    'unwrap',
                },
                {
                    view:       'feature',
                    prefix:     prefix.feature,
                    title_tag:  'h2',
                    title:      '<span>5</span> составляющих<br> надёжности и&nbsp;безопасности',
                    img:        'feature',
                    bg:         'feature-bg',
                    bg_ext:     'png',
                    bg_md:      '1399px',
                    list:   [
                        {
                            title: '<span>Качественные</span> внутренние резервуары'
                        },
                        {
                            title: '<span>Сухие ТЭНы</span> с&nbsp;дополнительной эмалированной защитой'
                        },
                        {
                            title: 'Увеличенный <span>магниевый</span> анод'
                        },
                        {
                            title: '<span>Диэлектрические</span> муфты'
                        },
                        {
                            title: 'Устройство <span>защитного</span> отключения'
                        }
                    ]
                },
                {
                    view:       'products_card',
                    prefix:     prefix.products_card,
                    slider_attr:    '{"slideToClickedSlide": true, "loop": false, "spaceBetween": 15, "breakpoints": { "0": {"slidesPerView": 1 }, "500": { "slidesPerView": 2 }, "768": { "slidesPerView": 6 }} }',
                    slider_btn:   'true',
                    slider_list:   [
                        {
                            img:        'products-item1.png',
                            title:       "Серия<br> UltraHeat Smart",
                            link:       "/vodongrevatel-awh1620-51-30yc.html",
                            collection: "#",
                            collection_name: "Подробнее",
                            collection_name: "Смотреть всю серию",
                            text:       "<ul><li>Цифровое управление</li><li>Полный контроль над температурой воды</li></ul>",
                            label:      [
                                {
                                    title:  '30 л',
                                    link:   '/vodongrevatel-awh1620-51-30yc.html',
                                    sku:    'AWH1620/51(30YC)',
                                    status: '  active',
                                },
                                {
                                    title:  '50 л',
                                    link:   '/vodongrevatel-awh1620-51-50yc.html',
                                    sku:    'AWH1621/51(50YC)',
                                },
                                {
                                    title:  '80 л',
                                    link:   '/vodongrevatel-awh1622-51-80ys.html',
                                    sku:    'AWH1622/51(80YC)',
                                },
                                {
                                    title:  '100 л',
                                    link:   '/vodongrevatel-awh1623-51-100yc.html',
                                    sku:    'AWH1623/51(100YC)',
                                },
                            ],
                        },
                        {
                            img:        'products-item2.png',
                            title:       "Серия<br> UltraHeat Digital",
                            link:       "/vodongrevatel-awh1615-51-30yb.html",
                            collection: "#",
                            collection_name: "Подробнее",
                            collection_name: "Смотреть всю серию",
                            text:       "<ul><li>Механическое управление </li><li>Электронный термометр</li></ul>",
                            label:      [
                                {
                                    title:  '30 л',
                                    link:   '/vodongrevatel-awh1615-51-30yb.html',
                                    sku:    'AWH1615/51(30YB)',
                                    status: '  active',
                                },
                                {
                                    title:  '50 л',
                                    link:   '/vodongrevatel-awh1616-51-50yb.html',
                                    sku:    'AWH1616/51(50YB)',
                                },
                                {
                                    title:  '80 л',
                                    link:   '/vodongrevatel-awh1617-51-80yb.html',
                                    sku:    'AWH1617/51(80YB)',
                                },
                                {
                                    title:  '100 л',
                                    link:   '/vodongrevatel-awh1618-51-100yb.html',
                                    sku:    'AWH1618/51(100YB)',
                                },
                            ],
                        },
                        {
                            img:        'products-item3.png',
                            title:       "Серия<br> UltraHeat Mechanic",
                            link:       "/vodongrevatel-awh1610-51-30ya.html",
                            collection: "#",
                            collection_name: "Подробнее",
                            collection_name: "Смотреть всю серию",
                            text:       "<ul><li>Простое управление</li><li>Индикатор нагрева воды</li></ul>",
                            label:      [
                                {
                                    title:  '30 л',
                                    link:   '/vodongrevatel-awh1610-51-30ya.html',
                                    sku:    'AWH1610/51(30YA)',
                                    status: '  active',
                                },
                                {
                                    title:  '50 л',
                                    link:   '/vodongrevatel-awh1611-51-50ya.html',
                                    sku:    'AWH1611/51(50YA)',
                                },
                                {
                                    title:  '80 л',
                                    link:   '/vodongrevatel-awh1612-51-80ya.html',
                                    sku:    'AWH1612/51(80YA)',
                                },
                                {
                                    title:  '100 л',
                                    link:   '/vodongrevatel-awh1613-51-100ya.html',
                                    sku:    'AWH1613/51(100YA)',
                                },
                            ],
                        },
                        {
                            img:        'products-item4.png',
                            title:      "Серия<br> UltraHeat Round",
                            link:       "/vodongrevatel-awh1600-51-30da.html",
                            collection: "#",
                            collection_name: "Подробнее",
                            collection_name: "Смотреть всю серию",
                            text:       "<ul><li>Надёжная защита внутреннего бака
специальной эмалью</li><li>Быстрый нагрев воды</li></ul>",
                            label:      [
                                {
                                    title:  '30 л',
                                    link:   '/vodongrevatel-awh1600-51-30da.html',
                                    sku:    'AWH1600/51(30DA)',
                                    status: '  active',
                                },
                                {
                                    title:  '50 л',
                                    link:   '/vodongrevatel-awh1601-51-50da.html',
                                    sku:    'AWH1601/51(50DA)',
                                },
                                {
                                    title:  '80 л',
                                    link:   '/vodongrevatel-awh1602-51-80da.html',
                                    sku:    'AWH1602/51(80DA)',
                                },
                                {
                                    title:  '100 л',
                                    link:   '/vodongrevatel-awh1603-51-100da.html',
                                    sku:    'AWH1603/51(100DA)',
                                },
                            ],
                        },
                        {
                            mod:        '  filter',
                            img:        'products-item5.png',
                            title:       "Фильтр / Ингибитор солеобразования",
                            link:       "/vodonagrevateli/filtr-ingibitor-awp9820-10.html",
                            collection: "#",
                            collection_name: "Подробнее",
                            text:       "<ul><li>Препятствует выпадению минеральных солей в осадок внутри бака</li><li>Увеличивает срок службы водонагревателя</li></ul>",
                            sku:        "AWP9820/10",
                        },
                        {
                            mod:        '  antiscalant',
                            img:        'products-item6.png',
                            title:       "Антискалант X-Guard Power для фильтра AWP9820",
                            link:       "",
                            collection: "#",
                            collection_name: "Подробнее",
                            text:       "<ul><li>12 месяцев беззаботной эксплуатации: в упаковке два картриджа на 6 месяцев каждый </li><li>Простая замена </li></ul>",
                            sku:        "",
                        },
                    ]
                },
                {
                    view:       'characteristics',
                    prefix:     prefix.characteristics,
                    img:        'characteristics',
                    img_ext:    'png',
                    list:   [
                        {
                            mod:    '  item1',
                            title:  'Качественные внутренние резервуары',
                            text:   '<p>Внутренние резервуары выполнены из&nbsp;качественной пищевой нержавеющей стали.</p><p>Либо из&nbsp;стали покрытой специальной эмалью, которая эффективно защищает резервуар от&nbsp;агрессии воды.</p>',
                        },
                        {
                            mod:    '  item2',
                            title:  'Нагревательные элементы DRY&nbsp;SHELL сухого типа',
                            text:   '<p>Нагревательный элемент помещен в&nbsp;специальную колбу и&nbsp;не&nbsp;имеет прямого контакта с&nbsp;водой, а&nbsp;дополнительное эмалированное покрытие колбы гарантирует его надёжную изоляцию и&nbsp;долгий срок службы. </p>',
                        },
                        {
                            mod:    '  item3',
                            title:  'Надёжная защита от&nbsp;накипи',
                            text:   '<p>Активные компоненты магниевого анода надежно защищает прибор от&nbsp;накипи и&nbsp;коррозии, тем самым продлевая срок службы водонагревателя в&nbsp;2&nbsp;раза.</p>',
                        },
                        {
                            mod:    '  item4',
                            text:  ['<p>Магниевый анод в обычных водонагревателях</p><p class="item1"><img src="',path.img,img.vodonagrevateli,'/characteristics-item4-1.png" alt="" /></p><p class="lg">на <span>40 %</span> больше</p><p class="item2"><img src="',path.img,img.vodonagrevateli,'/characteristics-item4-2.png" alt="" /></p><p>Магниевый анод в водонагревателях PHILIPS UltaHeat</p>'].join(''),
                        },
                        {
                            mod:    '  item5',
                            text:  ['<div class="flex"><p class="item1"><img src="',path.img,img.vodonagrevateli,'/characteristics-item5.png" alt="" /></p><div class="desc"><p class="lg">Защита от поражения током</p><p>Важной составляющей безопасности  водонагревателей PHILIPS UltraHeat является устройство защитного отключения, которое защищает пользователя в случае внезапной утечки тока или короткого замыкания.</p></div></div>'].join(''),
                        },
                    ]
                },
                {
                    view:       'characteristics',
                    prefix:     'bowler',
                    img:        'bowler',
                    img_ext:    'png',
                    list:   [
                        {
                            mod:    '  item1',
                            title:  'Защита от блуждающих токов',
                            text:   'Благодаря диэлектрическим муфтам STATIC&nbsp;CARE водонагреватель надёжно защищён от&nbsp;токов и&nbsp;статического электричества, которые возникают в&nbsp;процессе эксплуатации',
                        },
                        {
                            mod:    '  item2',
                            text:  ['<p class="img"><img src="',path.img,img.vodonagrevateli,'/bowler-item2.png" alt="" /></p><p>Диэлектрические муфты <span>STATIC CARE</span></p>'].join(''),
                        },
                    ]
                },
                {
                    view:       'characteristics',
                    prefix:     'warranty',
                    list:   [
                        {
                            mod:    '  item1',
                            text:   '<div>Самая</div><div class="center">большая</div><div>гарантия</div>',
                        },
                        {
                            mod:    '  item2',
                            title:   '<span class="before">до</span><span class="num">10</span><span class="after">лет</span>',
                            text:   '<div>На&nbsp;внутренний резервуар и&nbsp;до&nbsp;5&nbsp;лет на&nbsp;электрокомпоненты при проведении регулярного технического обслуживания и&nbsp;установке фильтра AWP9820</div>',
                        },
                        {
                            mod:    '  item3',
                            title:   '<span class="before">безусловная
гарантия</span><span class="num">2</span><span class="after"><br>года</span>',
                            text:   '<div>При эксплуатации без&nbsp;осуществления технического обслуживания</div>',
                        },
                        {
                            mod:    '  item4',
                            title:   '<span class="before">до</span><span class="num">6</span><span class="after">лет</span>',
                            text:   '<div>На&nbsp;внутренний резервуар и&nbsp;до&nbsp;4&nbsp;лет на&nbsp;электрокомпоненты при проведении регулярного технического обслуживания</div>',
                        },
                    ]
                },
                {
                    view:       'characteristics',
                    prefix:     'filter-block',
                    img:        'filter',
                    img_ext:    'jpg',
                    img_md:     '1023px',
                    title_tag:  'h2',
                    title:      'Фильтр AWP9820 <span>Ингибитор солеобразования</span>',
                    text:      '3-ступенчатая микрофильтрация',

                },
                {
                    view:       'characteristics',
                    prefix:     'cert',
                    img:        'cert',
                    img_md:     '1023px',
                    img_xs:     '767px',
                    img_ext:    'png',

                },
            ],
        } %}




        {% include "../block/common/script/script.twig" with {
            js:[
                {name: js.swiper},
                {name: js.label_tabs},
                {name: js.button}
            ],
        }
    %}
    </body>
</html>