<div class="main-container">
	<div class="main" role="main">
		<div class="std">
			<div id="promo">
				{% for content in content %}
				{% if content.view == "banner" %}
				{% include "../common/banner/banner.twig"%}
				{% endif %}
				{% if content.view == "feature" %}
				{% include "../common/feature/feature.twig"%}
				{% endif %}
				{% if content.view == "description" %}
				{% include "../common/description/description.twig"%}
				{% endif %}
				{% if content.view == "tech" %}
				{% include "../common/tech/tech.twig"%}
				{% endif %}
				{% if content.view == "lineup" %}
				{% include "../common/lineup/lineup.twig"%}
				{% endif %}
				{% if content.view == "plus" %}
				{% include "../common/plus/plus.twig"%}
				{% endif %}
				{% if content.view == "reviews" %}
				{% include "../common/reviews/reviews.twig"%}
				{% endif %}
				{% if content.view == "products" %}
				{% include "../common/products/products.twig"%}
				{% endif %}
				{% if content.view == "app" %}
				{% include "../common/app/app.twig"%}
				{% endif %}
				{% if content.view == "chess" %}
				{% include "../common/chess/chess.twig"%}
				{% endif %}
				{% if content.view == "footnotes" %}
				{% include "../common/footnotes/footnotes.twig"%}
				{% endif %}
				{% if content.view == "test" %}
				{% include "../common/test/test.twig" with {
					view: content.view_page
				}%}
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</section>