//===== media point =====//
.media-breakpoint-up(@screen; @rules){
	@media (min-width: @screen){
		@rules();
	}
}
.media-breakpoint-down(@screen; @rules){
	@media (max-width: @screen - 0.02){
		@rules();
	}
}
.media-breakpoint-between(@min; @max; @rules){
	@media (min-width: @min) and (max-width: @max - 0.02){
		@rules();
	}
}
//===== heading =====//
.heading1(){
	font-size: 1.6rem;
	line-height: 120%;
	.media-breakpoint-up(@xl; {
		font-size: 3.056rem;
	});
}
.heading2(){
	font-size: 1.333rem;
	line-height: 130%;
	.media-breakpoint-up(@xl; {
		font-size: 2rem;
	});
}
.heading3(){ 
	font-size: 1.111rem; 
   	line-height: 135%;
   	.media-breakpoint-up(@xl; {
		font-size: 1.667rem;
   		line-height: 130%;
   	});
}
.heading4(){
   	font-size: 1rem;
   	line-height: 140%;
   	.media-breakpoint-up(@xl; {
   		font-size: 1.389rem;
   	});
}
.heading5(){
   	font-size: 0.889rem;
   	line-height: 150%;
   	.media-breakpoint-up(@xl; {
   		font-size: 1.111rem;
   	});
}
.heading6(){    
   	font-size: 0.889rem;
	line-height: 140%;
}
.text20(){    
	font-size: 1.11rem;
	line-height: 130%;
}	
.text18(){    
	font-size: 0.889rem;
	line-height: 140%;
	.media-breakpoint-up(@xl; {
		font-size: 1rem;
	});
}
.text16(){    
	font-size: 0.778rem;
	line-height: 130%;
	.media-breakpoint-up(@xl; {
		font-size: 0.889rem;
	});
}
.text14(){    
	font-size: 0.778rem;
	line-height: 140%;
}
.text12(){    
	font-size: 0.667rem;
	line-height: 120%;
}
.text10(){    
	font-size: 0.556rem;
	line-height: 120%;
}

.t16(){    
	font-size: 0.889rem;
	line-height: 130%;
}
.font(@fs, @lh){
	font-size: @fs;
	line-height: @lh;
}

.btn-clearfix(){
	outline: none;
	background: none;
	text-decoration: none;
	transition: @trs-site;
	border: 0;
	padding: 0;
}
.visually-hidden(){	
	position: absolute;
	appearance: none;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}
.scrollbar(@w: 4px; @r: 0px; @t: @white; @s: @info){	
	&::-webkit-scrollbar-track{
		background-color: @t;
	}
	&::-webkit-scrollbar{
		width: @w;
		background: @t;
	}
	&::-webkit-scrollbar-thumb{
		background-color: @s;
		border-radius: @r;
	}
}
.img-bg(@f: cover; @p: center){	
	width: 100%;
	height: 100%;
	object-fit: @f;
	object-position: @p;
}